* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 100vw;
  height: 150vh;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.lut {
  width: 550px;
  height: 100px;
  background-color: rgb(32, 118, 150);
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding-left: 33px;
  border-radius: 10px 10px 0px 0px;
 
}

.lut > h1 {
  font-size: 45px;
  color: #fff;
  padding-top: 12px;
}

.lut > p {
  font-size: 15px;
  color: #fff;
}

.conteiner {
  width: 550px;
  height: 58.5rem;
  margin-left: auto;
  margin-right: auto;
  border-style: none solid solid solid;
  border-color: #ccc;
  border-radius: 0px 0px 10px 10px;
  
}

.box {
  width: 480px;
  height: 60px;

  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding-top: 5px;
}

.box > span {
  display: inline-block;
  width: 30px;
  height: 30px;
  font-size: 20px;
  background-color: rgb(32, 118, 150);
  color: #fff;
  border-radius: 15px;
  text-align: center;
  position: relative;
  right: 45px;
  top: 28px;
  padding-top: 3px;
}

.box > h2 {
  display: block;
  font-size: 25px;
  color: rgb(32, 118, 150);
  margin-right: 20px;
}

.box1 {
  width: 480px;
  height: 220px;
  background-color: rgb(240, 240, 240);
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  margin-top: 5px;
}

label {
  display: block;
  padding-top: 26.5px;
  font-size: 17px;
  padding-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

input {
  width: 27rem;
  height: 40px;
  margin-left: 20px;
}

/* 2 */


.sektor {
  width: 480px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding-top: 5px;
}

.sektor > span {
  display: inline-block;
  width: 30px;
  height: 30px;
  font-size: 20px;
  background-color: rgb(32, 118, 150);
  color: #fff;
  border-radius: 15px;
  text-align: center;
  position: relative;
  right: 45px;
  top: 28px;
  padding-top: 3px;
}

.sektor > h2 {
  display: block;
  font-size: 25px;
  color: rgb(32, 118, 150);
  margin-right: 20px;
  padding-bottom: 30px;
}

.sektor1 {
  width: 480px;
  height: 220px;
  background-color: rgb(240, 240, 240);
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  margin-top: 5px;
}

.sektor1 > label {
  display: block;
  padding-top: 26.5px;
  font-size: 17px;
  padding-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.sektor1 > input {
  width: 27rem;
  height: 40px;
  margin-left: 20px;
}

/* 3 */

.for {
  width: 480px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  padding-top: 5px;
}

.for > span {
  display: inline-block;
  width: 30px;
  height: 30px;
  font-size: 20px;
  background-color: rgb(32, 118, 150);
  color: #fff;
  border-radius: 15px;
  text-align: center;
  position: relative;
  right: 45px;
  top: 28px;
  padding-top: 3px;
}

.for > h2 {
  display: block;
  font-size: 25px;
  color: rgb(32, 118, 150);
  margin-right: 20px;
  padding-bottom: 30px;
}

.for1 {
  width: 480px;
  height: 220px;
  background-color: rgb(240, 240, 240);
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  margin-top: 5px;
}

.for1 > label {
  display: block;
  padding-top: 26.5px;
  font-size: 17px;
  padding-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.for1 > input {
  width: 27rem;
  height: 40px;
  margin-left: 20px;
}

.for2 {
  width: 480px;

  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.for2 > input {
  display: inline-block;
}

.for2 > input:nth-of-type(1) {
  width: 120px;
  color: #fff;
  background-color: rgb(32, 118, 150);
  border-radius: 5px;
  font-size: 16px;
  margin-left: -0px;
}

.for2 > input:nth-of-type(1):hover{
  background-color: rgb(109, 43, 231);
}

.for2 > input:nth-of-type(2) {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 6rem;
  margin-top: 20px;
  margin-right: -20px;
}

.for2 > span {
  display: inline-block;
  margin-top: 20px;
}
